.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  opacity: 1;
}

.feynman__link:hover {
  transition: opacity 0.8s ease;
  opacity: 0.4;
}
